@charset "UTF-8";

/* CSS Document */

/*Fonts*/
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratMedium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");

}


/* CSS styling General */


h1 {
  font-family: MontserratBold;
  font-size: 36px;
  line-height: 30px;
  /* or 83% */
  letter-spacing: 0.1em;

}

h2 {
  font-family: MontserratBold;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

p {
  font-family: MontserratRegular;
  font-size: 16px;
  line-height: 24px;

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: MontserratMedium;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  flex: none;
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

hr {
  width: 178px;
}


nav {
  font-family: MontserratMedium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  position: relative;
  background: #081B3B;
}

nav > li {
  color: #65D9FE;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {

}

section {
  padding: 15px 45px 15px 45px;
}

form {
  font-family: MontserratRegular;
  font-size: 16px;
  line-height: 24px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: MontserratRegular;
  background: #FAA094;
}

footer >li {
  color: #FFDDE2;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

footer > p {
  color: #FFDDE2;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




/* Classes  */

.header-content {
  background: #E5E5E5;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.footer-socials img{
  width: 30px;
  flex-direction: row;

}

.the-work {
  background: linear-gradient(158.68deg, #ABAAD6 0%, rgba(171, 170, 214, 0) 295.31%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.the-work > h1 {
  color: #5D4696 ;
}

.the-work > p {
  color: #5D4696 ;
}


.the-work > a button {
  background-color: #5D4696 ;
  border: 1px solid #5D4696;
  color: #FFFFFF;
}



.display-work-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  padding: 15px 30px 15px 30px;
  margin: 0px 0px 30px 0px;
  /* /shadow/lg */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.display-work-component > h2 {
  color: #5D4696;
}

.display-work-component > p {
  color: #5D4696;
}

.display-work-component > a button {
  background-color: #FFFFFF ;
  border: 1px solid #5D4696;
  color: #5D4696;
}

.display-work-component > img {
  max-width: 100%;
}


.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: linear-gradient(191.45deg, #9ED9CC 3.14%, rgba(158, 217, 204, 0) 255.97%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-me > h1{
  color: #008C76;
}

.about-me > p {
  color: #008C76;
}

.logo-cloud {
  grid-template-columns: [first] auto [second] auto [third] auto;
  grid-template-rows: [first] 50% [second] 50%;
  padding: 10px;
  margin: 5px;
  justify-content: center;
  background-color: #F9FAFB ;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.logo-cloud > img {
  width: auto;
  margin: 2px 2px;
  padding: 0px 2px;
}


.lets-talk {

}

.lets-talk >h1 {
  color:#FF6647;
}

.lets-talk >p {
  color: #FF6647;
}

.lets-talk > hr {
  justify-content: left;
  color: #FF6647;
}

.lets-talk img{
  width: 40px;
  margin-right: 10px;

}

.lets-talk-form  {
  font-family: MontserratMedium;
  color: #FF6647;

}

.lets-talk-form > input {
  display: flex;
  flex-direction: row;
  border: 1px solid #FF6647;
  border-radius: 6px;
  color: #FF6647;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  padding: 13px 17px;
  box-sizing: border-box;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);


}

.lets-talk-form > button{
  font-family: MontserratMedium;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #FF6647;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: 1px solid #FF6647;
  color: #FFFFFF;
  flex: none;
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
}


.journey {

}

.journey > h1 {
  color: #E033B3 ;
}
.journey > h2 {
  color: #E033B3 ;
}

.journey > p {
  color: #E033B3;
}

.achievements {

}

.achievements > h1{
  color: #FF6647;
}

.achievements > p{
  color: #FF6647;
}



