@charset "UTF-8";

/* CSS Document */

/*Fonts*/
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratMedium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");

}




/* CSS styling General */

*{
  margin: 0;
  padding:0;
  border: 0;
}



h1 {
  font-family: MontserratBold;
  font-size: 36px;
  line-height: 30px;
  /* or 83% */
  letter-spacing: 0.1em;


}

h2 {
  font-family: MontserratBold;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding: 20px 0px 15px 0px;
}

p {
  font-family: MontserratRegular;
  font-size: 16px;
  line-height: 24px;

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: MontserratMedium;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  flex: none;
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

hr {
  width: 178px;
}


nav {
  height: 100px;
  font-family: MontserratMedium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: relative;
  background: #081B3B;
}


main {

}

section {
  padding: 15px 45px 15px 45px;
}

form {
  font-family: MontserratRegular;
  font-size: 16px;
  line-height: 24px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: MontserratRegular;
  background: #FAA094;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

footer >li {
  color: #FFDDE2;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

footer > p {
  color: #FFDDE2;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer a{
  line-height: 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  text-align: center;
}

footer div {
  margin: 20px;
}




/* Classes  */


.hamburger {
  background-color: #081B3B;
  display: block;
  cursor: pointer;

}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  list-style: none;
  position: fixed;
  left: -100%;
  top: 6.5rem;
  flex-direction: column;
  background: #FFFFFF;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  box-shadow:0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.nav-menu.active{
  left:0;
}

.nav-item {
  text-decoration: none;
  margin-top: 20px ;
  margin-bottom: 20px;

}

.nav-link {
  color: #081B3B;
  line-height: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;


}

.nav-link:hover {
  border-left: 5px solid #081B3B ;
  background: linear-gradient(158.68deg, #65D9FE 0%, rgba(171, 170, 214, 0) 295.31%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #65D9FE;
}



.header-content {
  background: #E5E5E5;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  box-sizing: border-box;
}

.footer-socials img{
  width: 30px;
  height: auto;
  flex-direction: row;

}

.the-work {
  background: linear-gradient(158.68deg, #ABAAD6 0%, rgba(171, 170, 214, 0) 295.31%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-bottom: 50px;
}

.the-work > h1 {
  color: #5D4696 ;
}

.the-work > p {
  color: #5D4696 ;
}


.the-work > a button {
  background-color: #5D4696 ;
  border: 1px solid #5D4696;
  color: #FFFFFF;
}

.the-work a :hover{
  background: linear-gradient(158.68deg, #5D4696 0%, rgba(171, 170, 214, 0) 295.31%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid  #5D4696;
}


.display-work-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  padding: 15px 30px 15px 30px;
  margin: 0px 0px 30px 0px;
  /* /shadow/lg */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.display-work-component > h2 {
  color: #5D4696;
}

.display-work-component > p {
  color: #5D4696;
}

.display-work-component > a button {
  background-color: #FFFFFF ;
  border: 1px solid #5D4696;
  color: #5D4696;
}

.display-work-component a button:hover{
  background: linear-gradient(158.68deg, #ABAAD6 0%, rgba(171, 170, 214, 0) 295.31%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #ABAAD6;
  color: #FFFFFF;
}

.display-work-component > img {
  max-width: 100%;
}


.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(191.45deg, #9ED9CC 3.14%, rgba(158, 217, 204, 0) 255.97%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-bottom: 50px;
}

.about-me > h1{
  color: #008C76;
  line-height: 35px;
}

.about-me > p {
  color: #008C76;
}

.about-me > a button {
  background-color: #008C76 ;
  border: 1px solid #008C76;
  color: #FFFFFF;
}

.about-me a :hover{
  background: linear-gradient(158.68deg, #008C76 0%, rgba(171, 170, 214, 0) 295.31%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid  #008C76;
}


.about-me-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(191.45deg, #9ED9CC 3.14%, rgba(158, 217, 204, 0) 255.97%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about-me-page > h1{
  color: #008C76;
  line-height: 35px;
}

.about-me-page > p {
  color: #008C76;
}

.about-me-page > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  background: linear-gradient(191.45deg,#008C76 3.14%, rgba(158, 217, 204, 0) 255.97%);

}




.logo-cloud {
  grid-template-columns: [first] auto [second] auto [third] auto;
  grid-template-rows: [first] 50% [second] 50%;
  padding: 10px;
  justify-content: center;
  background-color: #F9FAFB ;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto
}

.logo-cloud > img {
  max-width: 80px;
  height: auto;

}


.lets-talk {
  padding-bottom: 50px;
}

.lets-talk >h1 {
  color:#FF6647;
}

.lets-talk >p {
  color: #FF6647;
}

.lets-talk > hr {
  justify-content: left;
  color: #FF6647;
}

.lets-talk img{
  width: 40px;
  height: auto;
  margin-right: 10px;

}

.lets-talk-form  {
  font-family: MontserratMedium;
  color: #FF6647;

}

.lets-talk-form > input {
  display: flex;
  flex-direction: row;
  border: 1px solid #FF6647;
  border-radius: 6px;
  color: #FF6647;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  padding: 13px 17px;
  box-sizing: border-box;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);


}

.lets-talk-form > button{
  font-family: MontserratMedium;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background: #FF6647;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: 1px solid #FF6647;
  color: #FFFFFF;
  flex: none;
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
}

.lets-talk-form a button :hover{
  background: linear-gradient(158.68deg, #FF6647 0%, rgba(171, 170, 214, 0) 295.31%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid  #FF6647;
}



.journey {
  padding-bottom: 50px;
}

.journey > h1 {
  color: #E033B3 ;
  margin-bottom: 30px;
}
.journey > h2 {
  color: #E033B3 ;
}

.journey > p {
  color: #E033B3;
  animation: fadeIn ease 10s;

}

.right-about-box {
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-left: 3px solid #E033B3 ;
  color: #E033B3 ;


}

.left-about-box {
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-right: 3px solid #E033B3 ;
  color: #E033B3 ;
  text-align: right;

}

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.achievements {
  padding-bottom: 50px;
}

.awards {
  padding: 20px;

}

.achievements > h1{
  color: #FF6647;
}

.awards> p{
  color: #FF6647;
}

.awards > img{
  max-width: 100px;
  height: auto;
  margin: 10px ;

}






/* Responsive designs for screens over 768px */

@media only screen and (min-width:768px){
  .hamburger{
    display: none;
  }
  .nav-menu{
    color: #65D9FE;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    color: #65D9FE;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link {
    color: #65D9FE;
    line-height: 25px;
    padding-right: 15px;
    margin-right: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link:hover{
    padding-bottom: 20px;
    border-bottom: 3px solid #65D9FE ;
  }


  .header-content {

  }

  .the-work {
    column-count: 3;
  }

  .the-work > h1 {
    column-span: all;
    text-align: center;
  }

  .the-work > p {
    column-span: all;
    text-align: center;
  }

  .the-work > a button {
    column-span: all;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
  }

  .display-work-component {
    display: block;
    flex-direction: column;

  }

  .about-me {

  }

  .about-me > h1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto
  }

  .about-me > p {
    text-align: center;
  }

  .about-me > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto
  }

  .logo-cloud {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto
  }
  .awards {
    column-count: 3;
    column-gap: 40px;
    text-align: center;
  }

  .awards img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lets-talk {
    column-count: 2;
  }

  .lets-talk h1 {
    column-span: all;
  }

  .lets-talk p {
    column-span: 1;
  }
  .lets-talk lets-talk-form {
    column-span: 2;
  }






}


